.card__like-button_is-active {
  background: transparent url("../../../../images/like-active.svg") no-repeat;
}

.like__element {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
